<% if !@name %>
	<img class="bg" src="/imgs/storks.jpg">
	<h1 class="hp_title">Hello,</h1>
	<h2 class="hp_subtitle">future early bird</h2>
	<a href="/auth" id="auth"><img class="hp_auth" src="imgs/twitter.png" alt="Sign in to Twitter"></a>
<% elsif @success == "success" %>
	<h2>Congratulations! Now get the day started!</h2>
<% elsif @commitment %>
		<input id="v_lat" type="hidden" value="<%= @commitment.location_verification.latitude %>">
		<input id="v_lon" type="hidden" value="<%= @commitment.location_verification.longitude %>">
		<input id="v_dist" type="hidden" value="<%= @commitment.location_verification.distance_in_meters %>">
	<% if @success == "failure" %>
		<p>Good try, but you have a little further to go. Check the map and keep walking!</p>
	<% end %>
	<h3 class="step_title">You're scheduled to wake and walk by <%= @commitment.scheduled_for.day == Time.now.day ? "today" : "tomorrow" %> at <%= @commitment.scheduled_for.strftime("%l:%M %P") %></h3>
	<form action="/checkin" id="checkin_form" method="POST">
    <input type="submit" id="checkin_input" value="Check in">
		<input id="checkin_lat" name="latitude" type="hidden">
		<input id="checkin_lon" name="longitude" type="hidden">
	</form>
	<% if @commitment.scheduled_for <= Time.now + 60*60*3 %><!-- 3 hours before -->
		<h3>Time to get up and start the day!</h3>
		<div id="map" class="map_div"><div class="loading">
				<h3>Loading...</h3>
				<img src="imgs/loader.gif">
				</div></div>
	<% else %>
		<p>You can delete and reschedule up until three hours before your scheduled wakeup time:</p>
		<form action="/commitment" method="POST">
		  <input type="hidden" name="_method" value="DELETE">
	    <input type="submit" id="delete_commitment" value="Delete scheduled wake up">
		</form>
		<div id="map" class="map_div"><div class="loading">
				<h3>Loading...</h3>
				<img src="imgs/loader.gif">
				</div></div>
	<% end %>
<% else %>
<!-- 	<p>Hi <%= @name %></p>
	<form action="/commitment" method="POST">
	<h3>When do you want to wake up <%= Time.now.hour > 9 ? "tomorrow" : 
	  "today" %>?</h3>
		<div id="time">
		<label>Time:</label>
		<input type="text" class="time" name="hour" placeholder="HH" value="5" />:<input type="text" class="time" type="text" name="minute" placeholder="MM" value="00" / >
		<input id="ampm_input" name="ampm" type="hidden" value="am">
		<button type="button" id="ampm" value="am">am</button>
		</div>
	<h3>How long do you want to walk?</h3>
		<div id="info"></div>
		<div id="map" class="map_div">
			<div class="loading">
				<h3>Loading...</h3>
				<img src="imgs/loader.gif">
				</div>
		</div>
	<h3>What do you want to say if you are unsuccessful?</h3>
		<label>Tweet:</label>
		<textarea id="tweettextarea" name="tweet" ></textarea><br />
		<input id="distance-input" name="distance" type="hidden">
		<input id="position-input" name="position" type="hidden">
		<input type="submit" value="Submit">
		<p class="counter">140</p>
	</form>
	<div id="message">Please click to allow geo location</div> -->

<% end %>
